/*default for entire site*/
* {
    box-sizing: border-box;
    font-size: 16px;
}

/* information in body of site */
body {
	font-family: 'Barlow Semi Condensed', sans-serif;
	margin: 0;
}

/* allow divs to line up next to each other and align at the top of the div row */
div {
	display: inline-block;
	vertical-align: top;
}

/* change default font sizing of headers */
h1{
	font-size: 36px;
}

h2{
	font-size: 26px;
}

h3{
	font-size: 20px;
}

#intro {
	padding-top: 0px;
}

iframe {
	height: 200px;
	width: 400px;
}

/* adjust links for contact info */
#intro img ~ a{
	font-size: 20px;
	display: block;
	margin: 10px;
	text-decoration: none;
	color: gray;
}

.hidden-img{
	display: none;
}


/* change font of bulleting */
ul li {
	font-size: 20px;
}


/* nav bar settings */
nav {
	width: 100%;
	padding: 15px;
	background-color: #87b5ff;
	font-size: 20px;
	position: fixed;
	opacity: 0.9;
}

/*hover on links of nav bar*/
nav a:hover {
	padding: 5px 10px 5px 10px; /* ensure left/right padding same as 'a' padding */
	background-color: #aefccd;
	color: black;
}

/* nav bar links */
nav a {
	padding-right: 10px;
	padding-left: 10px;
	text-decoration: none;
	color: white;
}


/* default section settings */
section {
	min-width: 100%; /* ensure section stretches entire width */
	padding: 40px 15px 30px 15px;
	display: block;
	float: left;
}

/* have sections alterate in color */
section:nth-child(odd) {
    background: #e8e7d7;
    border-color: white;
}

/* css for name and profile picture div */
#profile-div {
	padding: 100px 30px 30px 30px;
}

/* css for personal statement div */
#statement-div {
	padding-top: 20px;
	padding-left: 30px;
	padding-right: 30px;
}

/* adjust profile image */
#prof-pic {
	border-radius: 50%;
	max-width: 70%;
}

.imgscale-portrait{
	max-width: 60%;
	display: block;
	margin: auto;
}

.imgscale-landscape{
	max-width: 100%;
}

/* class for any areas that need to be centered */
.center-content {
	text-align: center;
}

/* css for the divs in the background section */
.bkgrd-div {
	width: 50%;
	padding: 0px 30px 0px 30px;
	float: left;
}

#references h4{
	display: inline-block;
}




/* 12 column griding system */

[class*='col-'] {
        float: left;
}
/* split columns into 3 */
.col-4{
	width: 33%;
}

.col-5{
	width: 41.66%;
}

.col-7{
	width: 58.33%;
}

.col-12{
	width: 100%;
}

/* split columns in 3, wrap each element in a border and margin */
.col-4.boxing {
	/*subtract margins and box shadow from width */
	width: -webkit-calc(33% - 50px);
    width: -moz-calc(33% - 50px);
    width: -ms-calc(33% - 50px);
    width: -o-calc(33% - 50px);
    width: calc(33% - 50px);
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
	border-style: solid;
    border-width: 2px;
    border-color: #87b5ff;
    border-radius: 5px;
    margin: 20px;
    box-shadow: 10px 10px 10px #708fc1;
    float: none;
}



/**** media queries: ****/

/* phones*/
@media only screen and (max-width: 767px){

	h2{
		font-size: 22px;
	}

	.col-12-s{
		width: 100%;
	}

	.col-4.boxing{
	    margin: 10px;
	    width: -webkit-calc(100% - 30px);
	    width: -moz-calc(100% - 30px);
	    width: -ms-calc(100% - 30px);
	    width: -o-calc(100% - 30px);
	    width: calc(100% - 30px);
	}

	.bkgrd-div{
		width: 100%;
	}

	div{
		width: 100%;
	}



}

/* tablets */ 
@media only screen and (min-width: 768px) and (max-width: 991px){
	#prof-pic {
		max-width: 100%;
	}
	#statement-div {
		padding-top: 200px;
		padding-left: 40px;
		padding-right: 40px;
	}

	.col-4.boxing{
	width: -webkit-calc(50% - 50px);
    width: -moz-calc(50% - 50px);
    width: -ms-calc(50% - 50px);
    width: -o-calc(50% - 50px);
    width: calc(50% - 50px);
	}

	ul li {
		font-size: 16px;
	}

	iframe {
		height: 140px;
		width: 260px;
	}
}

/* landscape tablets, desktops */ 
@media only screen and (min-width: 992px) {
	section{
		padding: 40px 80px 60px 80px;
	}

	#statement-div {
		padding-top: 250px;
		padding-left: 60px;
		padding-right: 60px;
	}
	iframe {
		height: 100px;
		width: 180px;
	}
}

@media only screen and (min-width: 1250px){
	iframe {
		height: 140px;
		width: 270px;
	}
}

