/* main css file for index.html */
/* author: Kristy Lin */

/*default for entire site*/
* {
    box-sizing: border-box;
    font-size: 18px;
}

/* information in body of site */
body {
	font-family: 'Barlow Semi Condensed', sans-serif;
	margin: 0;
	display: none; /* uses fade in from JS file when user loads website */
}

/* allow divs to line up next to each other and align at the top of the div row */
div {
	display: inline-block;
	vertical-align: top;
}

/* change default font sizing of headers */
h1{
	font-size: 36px;
}

h2{
	font-size: 26px;
}

h3{
	font-size: 20px;
}


/* default section settings */
section {
	min-width: 100%; /* ensure section stretches entire width */
	padding: 40px 15px 30px 15px;
	display: block;
	float: left;
}

/* have sections alterate in color */
section:nth-child(odd) {
    background: #e8e7d7;
    border-color: white;
}

/*remove padding at top of intro section */
#intro {
	padding-top: 0px;
}

/* adjust links for contact info */
#intro img ~ a{
	margin-top: 30px;
	font-size: 22px;
	text-decoration: none;
	color: #2e8bc1;
	font-weight: bold;
	font-size: 24px;
	position: relative;
	text-align: center;
}

/* links lift up a bit when hovering over contact links */
#intro img ~ a:hover{
	top: -5px;
}

#work a img{
	display: block;
	margin: auto;
	border-radius: 10px;
	border: 5px solid #2e8bc1;

}

/* default sizing for youtube video, ensures width does not surpass border */
iframe {
	height: 200px;
	max-width: 100%;
}

/* default button styling */
button {

	font-family: 'Barlow Semi Condensed', sans-serif;
	background-color: #2e86c1;
	color: white;
	padding: 10px 15px;
	text-decoration: none;
	border-radius: 10px;
	margin-bottom: 30px;
	display: block;
	margin: 20px auto;

}


/* change font of bulleting */
ul li {
	font-size: 20px;
}


/* nav bar settings */
nav {
	width: 100%;
	padding: 15px;
	background-color: #2e86c1;
	font-size: 20px;
	position: fixed;
	opacity: 0.9;
}

/*hover on links of nav bar*/
nav a:hover {
	padding: 5px 10px 5px 10px; /* ensure left/right padding same as 'a' padding */
	background-color: #aefccd;
	color: black;
	border-radius: 5px;
}

/* nav bar links */
nav a {
	padding: 10px;
	text-decoration: none;
	color: white;
	display: inline-block;
}


/* padding for name and profile picture div */
#profile-div {
	padding: 100px 30px 30px 30px;
}

/* padding for personal statement div */
#statement-div {
	padding-top: 20px;
	padding-left: 30px;
	padding-right: 30px;
}

/* adjust profile image to circle with set width relative to page */
#prof-pic {
	border-radius: 50%;
	max-width: 70%;
}

/* scale images in portrait mode */
.imgscale-portrait{
	max-width: 60%;
	display: block;
	margin: auto;
}

/* scale images in landscape mode */
.imgscale-landscape{
	max-width: 100%;
}

/* class for any elements that need to be centered */
.center-content {
	text-align: center;
}

/* css for the divs in the background section */
.bkgrd-div {
	width: 50%;
	padding: 0px 30px 0px 30px;
	float: left;
}



/* 12 column griding system with selected gridding sizes */

[class*='col-'] {
        float: left;
}

/* split columns into 3 */
.col-4{
	width: 33%;
}

.col-5{
	width: 41.66%;
}

.col-6{
	width: 50%;
}

.col-7{
	width: 58.33%;
}

.col-12{
	width: 100%;
}

/* split columns in 3, wrap each element in a border and margin */
.col-4.boxing {
	/*subtract margins and box shadow from width */
	width: -webkit-calc(33% - 50px);
    width: -moz-calc(33% - 50px);
    width: -ms-calc(33% - 50px);
    width: -o-calc(33% - 50px);
    width: calc(33% - 50px);
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
	border-style: solid;
    border-width: 2px;
    border-color: #2e86c1;
    border-radius: 5px;
    margin: 20px;
    box-shadow: 10px 10px 10px #708fc1;
    float: none;
}

.col-6.boxing {
	/*subtract margins and box shadow from width */
	width: -webkit-calc(50% - 50px);
    width: -moz-calc(50% - 50px);
    width: -ms-calc(50% - 50px);
    width: -o-calc(50% - 50px);
    width: calc(50% - 50px);
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
	border-style: solid;
    border-width: 2px;
    border-color: #2e86c1;
    border-radius: 5px;
    margin: 20px;
    box-shadow: 10px 10px 10px #708fc1;
    float: none;
}


/**** media queries: ****/

/* phones */
@media only screen and (max-width: 767px){

	h2{
		font-size: 22px;
	}

	/* define column for small screens */
	.col-12-s{
		width: 100%;
	}

	section{
		padding-top: 90px;
	}

#intro img ~ a{
		width: 100%;

	}

	/* decrease margins and adjust width accordingly for mobile devices */
	.col-12-s.boxing{
	    margin: 10px;
	    width: -webkit-calc(100% - 30px);
	    width: -moz-calc(100% - 30px);
	    width: -ms-calc(100% - 30px);
	    width: -o-calc(100% - 30px);
	    width: calc(100% - 30px);
	}


}

/* tablets */ 
@media only screen and (min-width: 768px) and (max-width: 991px){
	/* since section is in 2 columns, enlarge image */
	#prof-pic {
		max-width: 100%;
	}

	/* new adjustments to divs */
	#statement-div {
		padding-top: 200px;
		padding-left: 40px;
		padding-right: 40px;
	}

	/* split columns in two */
	.col-6-m{
		width: 50%;
	}

	/* adjust box width based on different column size */
	.col-6-m.boxing{
	width: -webkit-calc(50% - 50px);
    width: -moz-calc(50% - 50px);
    width: -ms-calc(50% - 50px);
    width: -o-calc(50% - 50px);
    width: calc(50% - 50px);
	}

	ul li {
		font-size: 16px;
	}

	iframe {
		height: 140px;
		max-width: 100%;
	}
}

/* landscape tablets, desktops */ 
@media only screen and (min-width: 992px) {
	/* allow more empty spacing on edges and between sections */
	section{
		padding: 40px 120px 60px 100px;
	}

	#statement-div {
		padding-top: 250px;
		padding-left: 60px;
		padding-right: 60px;
	}
	iframe {
		height: 100px;
		width: 180px;
	}
}


/* to make video bigger for very large screens */
@media only screen and (min-width: 1400px){
	iframe {
		height: 140px;
		width: 270px;
	}
	section{
		padding: 40px 120px 60px 100px;
	}



}

